<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGDROP</title>
    <link rel="stylesheet" href="/css/OpenSans-font.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/assets/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/auth.css">
    <script defer src="/js/auth.js"></script>
</head>
<body>
    <header>
        <div class="header_wrapper">
            <ul class="nav">
                <li class="logo"><a href="/"><img src="/assets/img/logo.png" alt="GGDROP"></a></li>
                <li><a href="/">Кейсы</a></li>
                <li><a href="/inventory">Инвентарь</a></li>
            </ul>
            <div class="userData">
                <!-- <p>Вы вошли как <span id="username">Gleb</span></p>
                <div>
                    <a href="#" class="btn" id="logoutBtn">Выйти</a>
                </div> -->

                <a href="/auth" class="btn" id="loginBtn">Войти</a>

            </div>
        </div>
    </header>

    <main data-switch="">
        <div id="switchLoginRegister">
            <p>Еще нет аккаунта?</p>
            <button>Зарегестрироваться</button>
        </div>
        <form id="loginForm" th:action="@{login-user}" th:object="${user}" onsubmit="return false">
            <h2>Аутентификация</h2>
            <span data-label="Мэйл">
                <input id="login" th:field="*{email}"name="login" type="text" placeholder="">
            </span>
            <span data-label="Пароль">
                <input id="password" th:field="*{password}" name="password" type="password" placeholder="">
            </span>
            <input type="submit" value="Войти">
        </form>
        <form id="registerForm" th:action="@{/register}" th:object="${user}"
              method="post">
            <h2>Регистрация</h2>
            <span data-label="Имя">
                <input id="firstname" th:field="*{firstName}" name="firstname" type="text" placeholder="">
            </span>
            <span data-label="Фамилия">
                <input id="lastname" th:field="*{lastName}" name="lastname" type="text" placeholder="">
            </span>
            <span data-label="Почта">
                <input id="email" name="email" type="email" th:field="*{email}" placeholder="">
            </span>
            <span data-label="Пароль">
                <input id="passwordReg" th:field="*{password}" name="password" type="password" placeholder="">
            </span>
            <input type="submit" value="Зарегистрироваться">
        </form>
    </main>
</body>
</html>