main{
    max-width: 1280px;
    margin: 200px auto;
}
.inventory{
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 24px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6872ff;
}
.item img{
    max-width: 200px;
    max-height: 200px;
}